.textoEgreso{
    color:red;
}

.NewInput {
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.descripcion {
    flex-grow: 2;
}

.cantidad {
    flex-grow: 1;
}

.tipoRadio {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submitButton {
    flex-grow: 1;
}

#pestañas {
    display: flex;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#ingresos, #egresos {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #f3f3f3;
    color: black;
}

#ingresos {
    color: white;
    background-color: #009879;
}

#Ingresar {
    background-color: #009879;
    color: white;
    border-color: #dddddd;
    padding: 15px 15px 15px 15px;
    font-size: 0.9em;
    font-family: sans-serif;
}

#divButton {
    display: flex;
    justify-content: center;
}

#balance, #numBalance {
    text-align: center;
    font-family: sans-serif;
}

#balance {
    color: #009879;
}

.reflejoDatos {
    text-align: center;
    font-family: sans-serif;
}

#balanceGrafico {
    display: flex;
    justify-content: space-around;
}

#numIngreso {
    color: #009879;
    font-weight: bold;
}

#numEgreso {
    color: #8d8c8c;
    font-weight: bold;
}

#resumen {
    margin-bottom: 30px;
}

body {
    background-color: #FBFBF0;
}

#navegacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
}

.botonNav {
    padding: 10px 20px 10px 20px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 2px;
}

#botonHome {
    background-color: #009879;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.chartBox {
    width: 100%;
    /*Si no especificamos el ancho se va al infinito*/
    padding-top: 7%;
    /*Para qué se vea bien*/
}

#datosGraficos {
    /*En media query cambiar esto*/
    width: 80%;
}

#datosNumericos {
    width: 80%;
    margin-bottom: 50px;
}

#divTable {
    height: 300px;
    overflow: scroll;
}

td {
    max-width: 110px;
}


@media (max-width: 767px) {
    #finanzas {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #finanzas {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 80%;
    }

    .chartBox {
        width: auto;
        /*Si no especificamos el ancho se va al infinito*/
        padding-top: 35%;
        /*Para qué se vea bien*/
    }

    #datosGraficos {
        /*En media query cambiar esto*/
        width: 300px;
    }

    #datosNumericos {
        width: 300px;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #finanzas {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
    }
}

@media (min-width: 1025px) {
    #finanzas {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 80%;
    }


    .chartBox {
        width: auto;
        /*Si no especificamos el ancho se va al infinito*/
        padding-top: 7%;
        /*Para qué se vea bien*/
    }

    #datosGraficos {
        /*En media query cambiar esto*/
        width: 500px;
    }

    #datosNumericos {
        width: 500px;
        margin-bottom: 50px;
    }
}