<!DOCTYPE html>
<html>

<head>
    <title>Smart To-Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="" id="navLogo">Smart To-Do List</a></li>
            <li><a href="/diario">To-Do</a></li>
            <li><a href="/finanzas">Finanzas</a></li>
        </ul>
    </header>
</body>

</html>